# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/
env.bak/
venv.bak/

# dotenv environment variables
.env
.env.*

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Logs and databases
*.log
*.sqlite3
*.db


# IDE/editor settings
.vscode/
.devcontainer/

# mock DB
data_store.json
